fastapi
uvicorn
tensorflow
scikit-learn
pillow
nltk
easyocr
fitz
PyMuPDF
python-multipart
sqlalchemy
keybert
sentence-transformers
deep-translator
langdetect
passlib[bcrypt]
email-validator
requests
chromadb
toml
